/* Fonts */

@font-face {
    font-family: 'MuseoModerno';
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-Thin.eot');
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-Thin.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/MuseoModerno/woff2/MuseoModerno-Thin.woff2') format('woff2'),
    url('assets/fonts/MuseoModerno/woff/MuseoModerno-Thin.woff') format('woff'),
    url('assets/fonts/MuseoModerno/ttf/MuseoModerno-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'MuseoModerno';
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-ExtraLight.eot');
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/MuseoModerno/woff2/MuseoModerno-ExtraLight.woff2') format('woff2'),
    url('assets/fonts/MuseoModerno/woff/MuseoModerno-ExtraLight.woff') format('woff'),
    url('assets/fonts/MuseoModerno/ttf/MuseoModerno-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'MuseoModerno';
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-Light.eot');
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/MuseoModerno/woff2/MuseoModerno-Light.woff2') format('woff2'),
    url('assets/fonts/MuseoModerno/woff/MuseoModerno-Light.woff') format('woff'),
    url('assets/fonts/MuseoModerno/ttf/MuseoModerno-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'MuseoModerno';
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-Regular.eot');
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/MuseoModerno/woff2/MuseoModerno-Regular.woff2') format('woff2'),
    url('assets/fonts/MuseoModerno/woff/MuseoModerno-Regular.woff') format('woff'),
    url('assets/fonts/MuseoModerno/ttf/MuseoModerno-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'MuseoModerno';
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-Medium.eot');
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-Medium.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/MuseoModerno/woff2/MuseoModerno-Medium.woff2') format('woff2'),
    url('assets/fonts/MuseoModerno/woff/MuseoModerno-Medium.woff') format('woff'),
    url('assets/fonts/MuseoModerno/ttf/MuseoModerno-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'MuseoModerno';
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-SemiBold.eot');
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/MuseoModerno/woff2/MuseoModerno-SemiBold.woff2') format('woff2'),
    url('assets/fonts/MuseoModerno/woff/MuseoModerno-SemiBold.woff') format('woff'),
    url('assets/fonts/MuseoModerno/ttf/MuseoModerno-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'MuseoModerno';
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-Bold.eot');
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/MuseoModerno/woff2/MuseoModerno-Bold.woff2') format('woff2'),
    url('assets/fonts/MuseoModerno/woff/MuseoModerno-Bold.woff') format('woff'),
    url('assets/fonts/MuseoModerno/ttf/MuseoModerno-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'MuseoModerno';
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-ExtraBold.eot');
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/MuseoModerno/woff2/MuseoModerno-ExtraBold.woff2') format('woff2'),
    url('assets/fonts/MuseoModerno/woff/MuseoModerno-ExtraBold.woff') format('woff'),
    url('assets/fonts/MuseoModerno/ttf/MuseoModerno-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'MuseoModerno';
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-Black.eot');
    src: url('assets/fonts/MuseoModerno/eot/MuseoModerno-Black.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/MuseoModerno/woff2/MuseoModerno-Black.woff2') format('woff2'),
    url('assets/fonts/MuseoModerno/woff/MuseoModerno-Black.woff') format('woff'),
    url('assets/fonts/MuseoModerno/ttf/MuseoModerno-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

/* General */

:root {
    font-family: "MuseoModerno", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #363636;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background-color: #363636;
}

body::-webkit-scrollbar-thumb {
    background-color: #1CBAE9;
}

body {
    background-color: #EEEEEE;
    margin: 0;
}

a {
    color: #363636;
    text-decoration: none;
}

a:active {
    color: #BBACAC;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.container-second {
    max-width: 940px;
    margin: auto;
}

/* General components */
/* Header */

header {
    background-color: white;
    height: 5.5rem;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #EF827F;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    box-sizing: content-box;
    z-index: 10;
}

#header-logo {
    height: 5.5rem;
    width: 5.5rem;
    margin-right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 5.5rem;
}

.nav-item {
    padding-bottom: 6px;
}

.separator {
    width: 1px;
    height: 9px;
    margin: auto 18px auto 18px;
}

.caret {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.events {
    position: relative;
}

.events:hover > .navbar-nav-events {
    display: block;
}

.navbar-nav-events {
    position: absolute;
    padding: 15px;
    background: white;
    display: none;
    top: 0;
    left: -21px;
    margin-top: 30px;

    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 0 6px 6px;

    border: 1px solid #EF827F;
    border-top: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    box-sizing: content-box;
}

.nav-item-events {
    position: relative;
    list-style: none;
}

.telephone {
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 12px;
    font-weight: 600;
}

/* Main Page */

.main {
    margin-top: 5.5rem;
}

/* Carousel */

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image {
    width: 1200px;
    height: 480px;
    object-fit: cover;
    background-position: center;
    border: none !important;
    box-shadow: none !important;
}

.owl-next, .owl-prev {
    position: absolute;
    color: #363636;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    width: 34px;
    height: 34px;
    top: 45%;
    outline: none;
}

.nav-prev, .nav-next {
    display: block;
    width: 34px;
    height: 34px;
}

.owl-next:hover, .owl-prev:hover {
    color: white;
}

.owl-next {
    right: 300px;
}

.owl-prev {
    left: 300px;
}

.owl-item {
    width: 1200px;
}

.slide {
    position: relative;
    height: 480px;
    transition: background-color 0.6s ease;
}

.carousel-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    width: 500px;
    height: 300px;
    font-size: 16px;
}

.carousel-block-btn-more {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 16px;
    margin-right: 25px;
    height: 34px !important;
}

.carousel-block-wrapper .btn-text {
    padding: 13px 17px 13px 17px;
    font-size: 11px;
    line-height: 71%;
}

.carousel-block-wrapper .btn-svg {
    margin: 12px 6px 12px 6px;
    height: 8.8px;
    width: 8.8px;
}

.carousel-block-wrapper {
    height: inherit;
    padding: 18px;
    position: relative;
}

.carousel-block-title {
    font-size: 30px;
    font-weight: 600;
    width: 80%;
    line-height: 35px;
}

.carousel-block-date {
    margin: 15px 0 12px 0;
    font-weight: 300;
}

.carousel-block-description {

}

/* About */

.about-block-wrapper {
    background: white;
    height: 400px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-page-wrapper {
    background: white;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
}

#schedule {
    width: 400px;
    height: 100%;
}

.about-raw {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    height: 500px;
    gap: 70px;
}

.about-raw-height {
    height: 100%;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
}

.about-content p, .ticket-content>a {
    font-size: 18px;
}

.sight-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    background-position: center;
}

.wrapper-sight {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sight-title {
    text-align: center;
}

.ticket-content a {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

.ticket-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.about-content a:hover {
    border-bottom: none;
}

.about-content h1 {
    width: 400px;
    margin: 0 auto;
}

.contact-wrapper {
    background-color: white;
    padding: 16px;
    margin-bottom: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#map_contact {
    margin-top: 15px;
    width: 100%;
    height: 400px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-tel {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.btn-text {
    background-color: #363636;
    color: #E4E4E4;
    padding: 10px 31px 11px 29px;
    font-weight: 600;
}

.btn-right-arrow {
    background-color: #474747;
}

.btn-wrapper {
    display: inline-flex;
    height: 46px;
}

.btn-svg {
    margin: 17px 9px 17px 9px;
}

/* News */

.news-block-wrapper {
    background-color: #EEEEEE;
}

.news-block-title {
    font-size: 24px;
    font-weight: 700;
    background-color: white;
    padding: 6px 16px 6px 16px;
    display: inline-flex;
    margin: 44px 0 44px 0;
}

.news-block {
    height: 300px;
    background-color: white;
    margin-bottom: 30px;
    display: flex;
}

.news-block-image {
    width: 400px;
    overflow: hidden;
}

.news-block-content {
    position: relative;
    display: block;
    width: 540px;
    padding: 26px 50px 0 38px;
}

.news-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    background-position: center;
    border: none;
    box-shadow: none;
}

.news-item-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 139%;
    margin-bottom: 14px;

}

.news-item-description, .news-item-date {
    font-size: 14px;
    font-weight: 300;
}

.news-item-date {
    line-height: 100%;
}

.group-share-date {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 16px;
    right: 16px;
}

.news-share {
    margin-left: 16px;
}

/* Map */

.map-block-wrapper {
    /*height: 200px;*/
    background-color: white;
    padding-bottom: 60px;
    box-sizing: unset;
}

.map-block-title {
    font-size: 24px;
    font-weight: 700;
    background-color: white;
    line-height: 139%;
    display: inline-flex;
    margin: 44px 0 44px 0;
    width: 300px;
}

#map {
    width: 100%;
    height: 457px;
}

/* Footer */

footer {
    bottom: 0;
    height: 240px;
    width: 100%;
    background-color: #363636;
}

.social-networks {
    height: 85px;
    background-color: #EF827F;
}

.social-nav-ul {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
}

.social-nav-items {
    display: flex;
    align-items: center;
}

.social-nav-items > a {
    height: 30px;
}

.social-nav-items-text {
    flex-grow: 2;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

#footer-input {
    border: 2px solid white;
    background-color: transparent;
    height: 46px;
    width: 347px;
    padding-left: 18px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    outline: none;
}

.footer-input-wrapper {
    height: 45px;
}

.btn-right-arrow-input {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-svg-input {
    margin: 15px 9px 16px 9px;
}

#footer-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#footer-input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.separator-footer {
    width: 2px;
    height: 40px;
    margin: auto 18px auto 18px;
}

.footer-links {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
}

.footer-links-wrapper {
    display: flex;

}

.footer-links-first-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 154px;
    width: 65%;
}

.footer-links-second-block {
    color: white;
    font-size: 14px;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-weight: 400;
}

.footer-links-contacts {
    width: 220px;
    text-align: center;
}

.footer-links-logo > img {
    margin: 22px 24px 22px 45px;
}

.footer-links-contacts > p > span {
    font-weight: 700;
}

.contact-us {
    display: inline-flex;
    margin-bottom: 42px;
}

.footer-item > a, .contact-us > a {
    color: rgba(255, 255, 255, 0.5);
}

.footer-links-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

/* Page in development */

.development-text-wrapper {
    text-align: center;
    color: #363636;
    height: 60vh;
}

.development-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.development-text-wrapper footer {
    position: absolute;
    bottom: 0;
}

